<main>
  <div class="participants-container">
    <button (click)="openForm()">New Registration</button>
    <div class="participants-cards">
      <div class="card">
        <img src="assets/Logo image.png" />
        <div class="information">
          <span> Giorgos </span>
          <span>Zogopoulos </span>
          <div class="pill-tags">
            <div class="pill-tag">Pill tag</div>
            <div class="pill-tag">Pill tag</div>
          </div>
        </div>
        <div class="expand-element">
          <div class="first-row">
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="second-row">
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="third-row">
            <div class="box"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/Logo image.png" />
        <div class="information">
          <span> Giorgos </span>
          <span>Zogopoulos </span>
          <div class="pill-tags">
            <div class="pill-tag">Pill tag</div>
            <div class="pill-tag">Pill tag</div>
          </div>
        </div>
        <div class="expand-element">
          <div class="first-row">
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="second-row">
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="third-row">
            <div class="box"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/Logo image.png" />
        <div class="information">
          <span>Giorgos </span>
          <span>Zogopoulos </span>
          <div class="pill-tags">
            <div class="pill-tag">Pill tag</div>
            <div class="pill-tag">Pill tag</div>
          </div>
        </div>
        <div class="expand-element">
          <div class="first-row">
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="second-row">
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="third-row">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
