main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    height: fit-content;
}

main .participants-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

main .participants-container .participants-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
}

@media screen and (max-width: 1210px) {
    main .participants-container .participants-cards {
        padding: 0;
    }
}
