#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 9, 19, 0.65);
  justify-content: center;
  align-items: center;
  padding: 106px;
  box-sizing: border-box;
  z-index: 1;
}

#modal .modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border: 8px solid var(--bavarian-gold-2);
  padding: 64px 24px;
  box-sizing: border-box;
  color: var(--bavarian-gold-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 25px var(--bavarian-gold-1);
}

#modal .modal-content .close-button {
  position: absolute;
  top: calc(44px - 21px);
  right: calc(45px - 21px);
  margin: 21px;
  width: calc(5 * 8px); /* 16.64 each box */
  height: calc(5 * 8px);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
#modal .modal-content .close-button .box {
  width: 8px;
  height: 8px;
  background-color: var(--bavarian-gold-1);
  box-shadow: 0 0 10px var(--bavarian-gold-2);
  transition: all 0.2s ease-in-out;
}

#modal .modal-content .close-button:hover .box {
  background-color: var(--bavarian-red);
}

#modal .modal-content .close-button .first-row {
  display: flex;
  gap: calc(8px * 3);
}

#modal .modal-content .close-button .second-row {
  display: flex;
  justify-content: center;
  gap: calc(8px);
}

#modal .modal-content .close-button .third-row {
  display: flex;
  justify-content: center;
}

#modal .modal-content header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#modal .modal-content header .modal-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

#modal .modal-content header .modal-subtitle {
  font-size: var(--h3-button-font-size);
  font-weight: var(--font-medium);
  text-align: center;
}

#modal .modal-content .line {
  border: 4px solid var(--bavarian-gold-2);
  border-radius: 10px;
  height: 0px;
  margin: 55px 64px;
  width: calc(100% - 2 * 55px);
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  padding: 24px 64px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
}

.input-row {
  display: flex;
  gap: 32px;
  width: 100%;
  color: var(--bavarian-gold-2);
}

.input-row .input-entry {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

.input-row .input-entry label {
  font-size: var(
    --p2-font-size
  ); /* Figma design is not consistent about the h3 header font size */
  font-weight: var(--font-medium);
}

.input-row .input-entry label span {
  vertical-align: super;
}

input,
.tags-input {
  font-size: var(--pill-p1-font-size);
  font-weight: var(--font-regular);
  background-color: transparent;
  border: 3px solid var(--bavarian-gold-2);
  height: min-content;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 24px;
  color: var(--bavarian-gold-1);
}

.tags-input {
  color: var(--bavarian-gold-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  height: 0;
  width: 0;
  border: 10px solid transparent;
  /* border-color: var(--bavarian-gold-2) transparent transparent transparent; */
  transform: translateY(25%);
  transition: all 0.2s ease-in-out;
}

.input-row .input-entry input::placeholder {
  color: var(--bavarian-gold-2);
}

.input-row .input-entry textarea {
  resize: vertical;
  font-size: var(--pill-p1-font-size);
  font-weight: var(--font-regular);
  background-color: transparent;
  border: 3px solid var(--bavarian-gold-2);
  height: 216px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 24px;
  color: var(--bavarian-gold-1);
}

.input-row .input-entry textarea::placeholder {
  color: var(--bavarian-gold-2);
}

.input-row .input-entry input[type="date"] {
  color: var(--bavarian-gold-2);
}

#modal
  .modal-content
  main
  .input-row
  .input-entry
  input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../../../assets/Date range.png");
  background-size: 24px;
}

.input-row .input-entry select {
  font-size: var(--pill-p1-font-size);
  font-weight: var(--font-regular);
  background-color: transparent;
  border: 3px solid var(--bavarian-gold-2);
  height: min-content;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 24px;
  color: var(--bavarian-gold-2);
}

.input-row .input-entry select option {
  background-color: var(--bg-color);
  color: var(--bavarian-gold-2);
  font-size: var(--pill-p1-font-size);
  font-weight: var(--font-regular);
  /* display: flex; */
  border: 2px solid var(--bavarian-gold-2) !important;
}
.input-row .input-entry .custom-option {
  background-color: var(--bright-green);
  width: 20px;
  height: 20px;
}

.tags-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.tags-list {
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 24px;
  box-sizing: border-box;
  gap: 12px;
  border: 3px solid var(--bavarian-gold-2);
  border-radius: 4px;
}
