<header>
  <div class="logo-container">
    <img class="logo" src="assets/symbol.png" /><img
      class="logo-wordmark"
      src="assets/Clip path group.png"
    />
  </div>
  <div class="description-container">
    <div class="title">hacktoberfest <span>2023</span> participants</div>
    <div class="description">
      Welcome to Hacktoberfest 2023<br />Click on
      <span>‘New Registration’</span> to be part of our community or to register
      a <br />friend
    </div>
  </div>
</header>
