<div *ngIf="!see_details" (click)="toggleDetails()" class="expand-element">
    <div class="first-row">
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="second-row">
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="third-row">
        <div class="box"></div>
    </div>
</div>
<div *ngIf="see_details" (click)="toggleDetails()" class="collapse-element">
    <div class="third-row">
        <div class="box"></div>
    </div>
    <div class="second-row">
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="first-row">
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>
